mesa_mod/*
!mesa_mod/mesa-r12778
mesa_mod/mesa-r12778/*
!mesa_mod/mesa-r12778/star
mesa_mod/mesa-r12778/star/*
!mesa_mod/mesa-r12778/star/test_suite
mesa_mod/mesa-r12778/star/test_suite/*
!mesa_mod/mesa-r12778/star/test_suite/NeutrinoMagneticDipoleMesa

mesa_mod_backup/*

mcmc/nmdm.h5

*~
*.data
*.out
*.err
*.nfs*
*sed*
*inlist*
*terminal_output*
