mesa_mod/*
!mesa_mod/mesa-r12778
mesa_mod/mesa-r12778/*
!mesa_mod/mesa-r12778/star
mesa_mod/mesa-r12778/star/*
!mesa_mod/mesa-r12778/star/test_suite
mesa_mod/mesa-r12778/star/test_suite/*
!mesa_mod/mesa-r12778/star/test_suite/NuetrinoMagneticDipoleMesa